{% include "Navbar.html" %} {% block content %}
<div class="container">
  <div class="card mb-3 my-5" style="max-width: 1240px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../static/images/Blood_image.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">
            The website can raise awareness about the importance of blood
            donation and encourage individuals to donate blood regularly. During
            times of crisis or emergencies, such as natural disasters or
            accidents, having a central platform where donors can quickly sign
            up to donate blood can be invaluable in mobilizing resources
            efficiently. It provides a platform where potential donors can
            easily find information about donation centers, schedule
            appointments, and learn about eligibility criteria. The website can
            foster a sense of community among blood donors, volunteers, and
            organizations involved in the donation process, creating a
            supportive network focused on saving lives.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 my-5" style="max-width: 1240px">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Donation</h5>
          <p class="card-text">
            In times of crisis and need, it is crucial for us to come together
            as a community to support one another. Today, I urge each and every
            one of you to consider making a meaningful difference by donating
            blood and contributing financially to help those in need. Whether it's a patient undergoing surgery, a
            child fighting cancer, or an accident victim in desperate need, your
            blood donation can make a world of difference. Furthermore, let us
            not forget the importance of supporting the less fortunate among us.
            Many families in our community are struggling to meet their basic
            needs due to various challenges such as poverty, illness, or
            displacement. Your financial contribution, no matter how big or
            small, can provide them with essential resources and a glimmer of
            hope for a better future. By donating blood and giving generously,
            we demonstrate our compassion, solidarity, and commitment to making
            our community a better place for all. Together, we can save lives
            and uplift those in need. Join us in this noble cause, and let's
            make a positive impact that reverberates far beyond our individual
            actions. Thank you for your kindness and generosity
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 9 mins ago</small>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="../static/images/images (3).jpeg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

{% endblock content %}
