{% include "Navbar.html" %}
{% block title %}{% endblock %}
{% block content %}
{% for message in messages  %}  
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endfor %}

<div class="container my-3">
    <h1>Donor Registration</h1>
    <div class="w-75 p-3 m-auto">
        <form action="{% url 'Add_Data' %}" method="POST" class="my-3">
          {% csrf_token %}
            <div class="row">
                <div class="col">
                  <label for="inputName" class="form-label">Name</label>
                  <input type="text" name="First_Name" class="form-control" placeholder="name" required aria-label="First name">
                </div>
              </div>

            <div class="row my-3">
                <div class="col">
                  <label for="Contact"  class="form-label">Contact <span class="text-danger">*</span></label>
                  <input type="number" name="Contact"  required class="form-control" placeholder="Contact Number" aria-label="contact Number">
                </div>
                <div class="col">
                  <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                  <input type="email" name="email" required class="form-control" placeholder="email" aria-label="email">
                </div>
              </div>
              <form class="row g-3">
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" name="address" required class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
             
                <div class="row my-2">
                  <div class="col">
                    <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                    <input type="text" name="City" required class="form-control" placeholder="" aria-label="First name">
                  </div>
                  <div class="col">
                    <label for="age" class="form-label">age</label>
                    <input type="number" name="age" required class="form-control" placeholder="" aria-label="age">
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col">
                    <label for="inputState" class="form-label">State</label>
                  <select id="inputState" name="State" required class="form-select">
                    <option selected>Choose...</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                  </select>
                  </div>
                  <div class="col">
                    <label for="inputState" class="form-label">Select blood group <span class="text-danger">*</span></label>
                  <select id="inputState" name="Blood_Group" required class="form-select">
                    <option selected>Choose...</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="number" required class="form-control" id="inputZip">
                </div>
                <div class="col-12 my-2">
                  <div class="form-check">
                    <input class="form-check-input" required type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Add me Now 
                    </label>
                  </div>
                </div>
                <div class="col-12 my-2">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
        </form>
    </div>
</div>
{% endblock content %}