{% include "Navbar.html" %}
<!-- {% block title %} Donor List
{% endblock title %} -->
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="container">
    <h2 class="cursor-pointer" >Donor List</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col"> Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Blood Group</th>
            <th scope="col"> City</th>
            <th scope="col">Address</th>
            <th scope="col">Connect Now</th>
            <th scope="col">Modify</th>
          </tr>
        </thead>
        <tbody>
          {% for i in page_object %}
          <tr>
            <th scope="row">{{i.S_no}}</th>
            <td>{{i.name}}</td>
            <td>{{i.contact_number}}</td>
            <td>{{i.email}}</td>
            <td>{{i.Blood_Group}}</td>
            <td>{{i.City}}</td>
            <td>{{i.address}}</td>
            <td class="cursor-pointer"><i  class="fa fa-phone" aria-hidden="true"></i></td>
            <td><a href="{% url 'Modify' i.id %}"><button class="btn btn-primary">Modify</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_object.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{page_object.previous_page_number}}">Previous</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">{{page_object.number}}</a></li>
          {% if page_object.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{page_object.next_page_number}}">Next</a></li>
          {% endif %}
        </ul>
      </nav>

</div>
{% endblock content %}
