<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood_Donation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky">
      <div class="container-fluid">
        <!-- <img class="navbar-brand" style="height: 10px;" src="../static/images/Screenshot 2024-02-28 224742.jpg" alt=""> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Donor_List' %}"
                >Donor List</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://mahasbtc.org/index.php/blood-bank-data/" target="__blank"
                >Blood Bank List</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'About_Page' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Contact' %}"
                >Contact</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Help' %}"
                >Help&FeedBack</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search"></form>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
